@model IEnumerable<GroupPurposeAssociations>

@foreach(var group in Model)
{
    <h3>
        @group.GroupName</h3>

        foreach(var p in group.items)
            {
                <p> @p.Name</p>
            }


}

